<H3>Admin Tools:</H3>

<OL style="list-style-type: decimal" >
  <LI><%= link_to "Import All", import_all_path %></li>
  <LI><%= link_to "Edit Administrators", edit_admins_path %></LI>
  <LI><%= link_to "User Logs", admin_logs_path %></LI>
<OL>