<H3>Admin Tools:</H3>

<OL style="list-style-type: decimal" >
  <LI><%= link_to "Import All", import_all_path %>: Students, Devices or Both.</li>
  <LI><%= link_to "Edit Administrators", edit_admins_path %>: Add or Remove rights.</LI>
<OL>